@model CustomerModel

   @if (ViewBag.IsEdit==true)
{
    
    
        <div class="container">
            <di class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Customer Updated Successfully. Go to <a asp-action="Index" asp-controller="Customer" >Index</a> </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
}


<form asp-controller="Customer" asp-action="Edit" method="post" >
    <h1 class="display-6">Edit Customer</h1>
    <hr/>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-4">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-4">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control"/>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="RegionId"></label>
                <select asp-for="RegionId" class="form-control" asp-items="ViewBag.Regions" >
                <option value="">Select a region</option>   
                </select>
                <span asp-validation-for="RegionId"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="PostalCode"></label>
                <input asp-for="PostalCode" class="form-control"/>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-4">
                <label asp-for="Country"></label>
                <input asp-for="Country" class="form-control"/>
                <span asp-validation-for="Country"></span>
            </div>
        </div>
        <div class="col">
             <div class="mb-4">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control"/>
                <span asp-validation-for="Phone"></span>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <input type="submit" value="Edit Customer" class="btn btn-primary" />
        </div>
    </div>
</div>
</form>


