@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProductModel
<form asp-controller="Product" asp-action="Create" method="post">
    <h1 class="display-6">Add New Product</h1>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-4">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-4">
                    <label asp-for="SupplierId"></label>
                    <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.Suppliers" >
                    <option value="">Select a supplier</option>   
                    </select>
                    <span asp-validation-for="SupplierId"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-4">
                    <label asp-for="CategoryId"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categoriers" >
                    <option value="">Select a category</option>   
                    </select>
                    <span asp-validation-for="CategoryId"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-4">
                    <label asp-for="QuantityPerUnit"></label>
                    <input asp-for="QuantityPerUnit" class="form-control"/>
                    <span asp-validation-for="QuantityPerUnit"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-4">
                    <label asp-for="UnitPrice"></label>
                    <input asp-for="UnitPrice" class="form-control"/>
                    <span asp-validation-for="UnitPrice"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-4">
                    <label asp-for="UnitsInStock"></label>
                    <input asp-for="UnitsInStock" class="form-control"/>
                    <span asp-validation-for="UnitsInStock"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-4">
                    <label asp-for="UnitsOnOrder"></label>
                    <input asp-for="UnitsOnOrder" class="form-control"/>
                    <span asp-validation-for="UnitsOnOrder"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-4">
                    <label asp-for="ReorderLevel"></label>
                    <input asp-for="ReorderLevel" class="form-control"/>
                    <span asp-validation-for="ReorderLevel"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-4">
                    <label asp-for="Discontinued"></label>
                    <input asp-for="Discontinued" class="form-control"/>
                    <span asp-validation-for="Discontinued"></span>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit" value="Add Product" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
