@model ProductModel

   @if (ViewBag.IsEdit==true)
{
    
    
        <div class="container">
            <di class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Product Updated Successfully. Go to <a asp-action="Index" asp-controller="Product" >Index</a> </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
}


<form asp-controller="Product" asp-action="Edit" method="post" >
    <h1 class="display-6">Edit Product</h1>
    <hr/>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-4">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="SupplierId"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.Suppliers" >
                <option value="">Select a supplier</option>   
                </select>
                <span asp-validation-for="SupplierId"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categoriers" >
                <option value="">Select a category</option>   
                </select>
                <span asp-validation-for="CategoryId"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-4">
                <label asp-for="QuantityPerUnit"></label>
                <input asp-for="QuantityPerUnit" class="form-control"/>
                <span asp-validation-for="QuantityPerUnit" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="UnitPrice"></label>
                <input asp-for="UnitPrice" class="form-control"/>
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="UnitsInStock"></label>
                <input asp-for="UnitsInStock" class="form-control"/>
                <span asp-validation-for="UnitsInStock"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-4">
                <label asp-for="UnitsOnOrder"></label>
                <input asp-for="UnitsOnOrder" class="form-control"/>
                <span asp-validation-for="UnitsOnOrder"></span>
            </div>
        </div>
        <div class="col">
             <div class="mb-4">
                <label asp-for="ReorderLevel"></label>
                <input asp-for="ReorderLevel" class="form-control"/>
                <span asp-validation-for="ReorderLevel"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="Discontinued"></label>
                <input asp-for="Discontinued" class="form-control"/>
                <span asp-validation-for="Discontinued"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="submit" value="Edit Product" class="btn btn-primary" />
        </div>
    </div>
</div>
</form>
